<html ng-app>
<head>
	<title>Shopping Cart</title>
</head>
<body ng-controller='CartController'>
	<h1>Yout Shopping Cart</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'>
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		<button ng-click="remove($index)">Remove</button>
	</div>
	<script src="angular-min.js"></script>
	<script src="shoppingCartController.js"></script>
</body>
</html>